# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea
src/ios/cordova-plugin-adsvp.xcodeproj
src/ios/CordovaLib/