<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adsvp" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdsVP</name>
    <description>Advertising Video Player</description>
    <license>MIT</license>
    <keywords>cordova,advertising,adsvp</keywords>

    <js-module name="AdsVP" src="www/AdsVP.js">
        <clobbers target="cordova.plugins.AdsVP" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="AdsVP">
                <param name="android-package" value="ch.mediati.cordova.AdsVP"/>
            </feature>
        </config-file>
        <source-file src="src/android/AdsVP.java" target-dir="src/ch/mediati/cordova" />
    </platform>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdsVP">
                <param name="ios-package" value="AdsVP" />
            </feature>
        </config-file>
        <header-file src="src/ios/AdsVP.h" />
        <source-file src="src/ios/AdsVP.m" />
        <resource-file src="src/ios/AdsVP.bundle" />
    </platform>
</plugin>
